on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
          os: ubuntu-latest
        - java: 25
          os: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: zulu
    - uses: sbt/setup-sbt@v1
    - run: sbt -v Test/compile test
      working-directory: ./sbt-gcs-plugin
